{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Select categories:</h2>
    <form method="POST" action="/game">
        <div class="form-group">
            {% for category in categories %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="category" value="{{ category }}">
                    <label class="form-check-label">{{ category }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="custom-button">Start Game</button>
    </form>
</div>
{% endblock %}
